<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="/tmp/nlog-internal.log">
	<targets>
		<target name="logfile" xsi:type="File" fileName="/var/log/trocasemente/${shortdate}.log" layout="${longdate} ${level} ${callsite} ${event-context:item=ParameterName} ${message}"/>
		<target name="logfile_windows" xsi:type="File" fileName="D:\logs\${shortdate}.log" layout="${longdate} ${level} ${callsite} ${event-context:item=ParameterName} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="logfile_windows" final="true" />
	</rules>
</nlog>-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="/tmp/nlog-internal.log">

	<extensions>
		<add assembly="Service" />
	</extensions>

	<targets>
		<target name="logfile" xsi:type="File" fileName="/var/log/trocasemente/${shortdate}.log" layout="${longdate} ${level} ${callsite} ${event-context:item=ParameterName} ${message}"/>
		<target name="console" xsi:type="Console" layout="${LogsSistema}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>

</nlog>


<!--CREATE TABLELogs Logs (
Id INT NOT NULL AUTO_INCREMENT,
Date DATETIME NOT NULL,
Level NVARCHAR(50) NOT NULL,
Callsite NVARCHAR(255) NOT NULL,
ParameterName NVARCHAR(255) NULL,
Message TEXT NOT NULL,
PRIMARY KEY (Id)
);-->


<!--root@vmi519965:/tmp# tail -f nlog-internal.log-->